#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header {
  height: 80px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.mainPage {
  /* display: flex;
  flex-direction: column; */
}

/* search & filter section */
.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.searchbar {
  width: 60%;
  max-width: 1000px;
  height: 40px;
  padding: 0px 15px;
}
.filterSection {
  /* border: 2px solid white; */
  padding: 0px 10px;
  margin-bottom: 15px;
}
.genreSelection {
  display: flex;
  align-items: center;
}
.allGenres {
  margin-left: 20px;
}
.allGenres > label {
  padding-right: 20px;
}
.dateSelection {
  display: flex;
  align-items: center;
}
.allDates {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.allDates > select {
  height: 30px;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 0px 10px;
}

/* results display section */
.resultSection {
  /* minus 80px header and 250px search section */
  height: calc(100vh - 80px - 250px);
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
.resultsCount {
  text-align: left;
  padding-left: 20px;
}
.resultsDiv {
  overflow: auto;
}
.resultcard {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.imagecard {
  border: 1px solid white;
  width: 75px;
  /* height: 75px; */
  margin: 0px 10px;
}
.detailscard {
  margin-left: 20px;
  /* display: flex;
  flex-direction: column; */
  text-align: left;
}
.titlecard {
  font-size: 1.1em;
}
.othercard {
  font-size: 0.9em;
}
.cardInfo {
  margin-right: 50px;
}
.sentimentscard {
  margin-left: auto;
  border: 1px solid white;
  padding: 0px 10px;
}

/* page for each result */
.bookPage {
  flex: 1;
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  /* margin-bottom: 5px; */
}
.backBtn {
  position: absolute;
  left: 20px;
  top: 10px;
  padding: 0.2em 1em;
}
.bookTitle {
  font-size: 1.7em;
  font-weight: 600;
}
.bookInfo {
  /* border: 1px solid white; */
  width: 85%;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image {
  width: 200px;
  /* height: 150px; */
  margin: 0px 20px;
  /* border: 1px solid white; */
}
.details {
  /* border: 1px solid white; */
  padding: 0px 50px;
  text-align: left;
}

.graph {
  width: 250px;
}

.bookTable {
  /* width: 90%; */
}

.comment {
  /* width: 700px; */
  width: 65vw;
}
.date {
  width: 100px;
}
.sentiment {
  width: 100px;
}

.comment {
  /* width: 700px; */
  width: 65vw;
}
.date {
  width: 100px;
}
.sentiment {
  width: 130px;
}

/* dropdown & filter in book page */

.sortArrow {
  background: none;
}
.sortArrow:hover {
  outline: none;
  color: rgb(135, 196, 225);
}
.sentimentDropdown {
  /* position: relative; */
  cursor: pointer;
  /* margin: 10px; */
  /* margin-left: 50px; */
}
.sentimentCheckbox {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #242424;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.sentimentSelect > label {
  padding-left: 5px;
  font-size: 0.8em;
}
.sentimentSelect > input[type="checkbox"] {
  cursor: pointer;
}

.pagination {
  /* border: 1px solid white; */
  display: flex;
  width: 500px;
  position: relative;
  margin: 10px;
}
.pages {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0px 10px;
}
.pageBtn {
  width: 30px;
  height: 27px;
  text-align: center;
  padding: 0;
}
